@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main_container{
    width:85%;
    margin: 0 auto;
}

:root{
    --color-blue:#3864DF;
    --color-grey:#7A7978;
    --color-white:#fff;
    --color-black:#31302E;
    --color-orange:#FF6537;
}

body{
   font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}


h2{
    font-size: 45px;
    font-weight: bold;
    
}

h5{
    font-size: 20px;
    font-weight: 700;
}


.orange{
    background: var(--color-orange);
    width: 180px;
    height: 55px;
    color: var(--color-white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    border: none;
}

.orange i{
    padding-left: 20px;
    font-size: 15px;
}

.orange:hover{
    background: var(--color-white);
    color: var(--color-orange);
    transition: .5s;
    border: 1px solid var(--color-orange);
}