.request_container{
    margin-top: 100px;
}

.request_bg{
    background-color: var(--color-blue);
    width: 100%;
   
    border-radius: 10px;
    position: relative;
}

.plus1 i{
    position: absolute;
    top:10px;
    left: 60px;
    color: var(--color-white);
    font-size: 40px;
}

.plus2 i{
    position: absolute;
    top:30px;
    right: 10px;
    color: var(--color-white);
    font-size: 25px;
}

.request_circles{
    position: absolute;
    top:150px;
    transform: rotate(90deg);
    left: -10px;
}

.coll1{
   margin-left: 100px;
   margin-top: 40px;
}



.request_title{
    color:var(--color-white);
    font-weight: bold;
}

.request_container h4{
  color:var(--color-orange);
  font-size: 16px;
}

.request_form{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}

.request_form input{
    width:270px;
    height: 55px;
    border-radius: 5px;
    outline: none;
    border:none;
    font-size: 15px;
    padding: 15px;
    box-sizing: border-box;
    margin-right: 50px;
}

.request_form button{
    width:270px;
    height: 55px;
    border-radius: 5px;
    outline: none;
    border:none;
    font-size: 16px;
    background-color: var(--color-orange);
    box-sizing: border-box;
    color: var(--color-white);
}

@media screen and (max-width:1200px) {
 
    .request_form input{
        width:250px;
        height: 50px;
        margin-right: 45px;
    }
    
    .request_form button{
        width:250px;
        height: 50px;
    }
    
}  

@media screen and (max-width:1024px) {

    .request_circles{
        width: 80px;
        top: 50%;
    }
    .request_form input{
        width:230px;
        height: 40px;
        font-size: 13px;
        margin-right: 35px;
    }
    
    .request_form button{
        width:230px;
        height: 40px;
    }
    
    .request_container img{
        width: 100%;
        height: 100%;
    }
}  

@media screen and (max-width:992px) {
    .coll1{
        margin-left: 0px;
        text-align: center;
       
     }

     .request_form{
        display: flex;
        flex-direction: column;
       
    }
     

    .request_circles{
        width: 80px;
        top: 50%;
    }

    .request_form input{
        width:50%;
        height: 40px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
      
    }
    
    .request_form button{
        width: 50%;
        height: 40px;
    }
    
    
} 

@media screen and (max-width:575px) {
    .request_container h4{
        font-size: 13px;
    }

    .request_form input{
        width:85%;
       
      
    }
    
    .request_form button{
        width: 85%;
    }

    .request_circles{
       display: none;
    }
    
    
} 



