.reviews{
    margin-top: 100px;
}

.reviews p{
    font-size: 15px;
    width: 45%;
    color: var(--color-black);
    margin-top: 30px;
    margin-bottom: 50px;
}

.reviews .bg_grey{
    padding: 50px;
    background: #F5F5F7;
    border-radius: 10px;
    position: relative;
}

.reviews .minContainer{
    display: flex;
    width: max-content;
   
    align-items: center;

}

.reviews .imgContainer{
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

.reviews .imgContainer img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reviews .minContainer p{
    width: 70%;
    border-bottom: 1px solid var(--color-orange);
    font-size: 15px;
    font-weight: 400;
    color:#7f7f7f;
    padding-bottom: 20px;
}

.reviews .content{
    width:100%;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-black);
}

.reviews_slider{
    width: 100%;
    height: auto;
}



.reviews_slider .slick-track{
    display: flex ;
}

.reviews_slider .slick-list{
    overflow: hidden;
}



.reviews_slider .slick-arrow{
    position: absolute;
    z-index: 10;
    font-size: 0px;
    width: 20px;
    height: 40px;
    border: none;
}


.reviews_slider .slick-arrow.slick-prev{
    right:100px;
    bottom: -60px;
    background: url('../img/whiteArrow.png') 0 0 / 100% no-repeat;

}

.reviews_slider .slick-arrow.slick-next{
    bottom: -60px;
    right: 0px;
    background: url('../img/rightArrow.png') 0 0 / 100% no-repeat;
}

.reviews .btnContainer{
    display: flex;
    margin-top: 50px;
}

.btnContainer .orange{
    margin-right: 50px;
}

@media screen and (max-width:1200px) {

    .reviews p{
        font-size: 14px;
        width: 50%;
    }

    .reviews .imgContainer{
        width: 90px;
        height: 85px;
        
    }

    .reviews .minContainer p, .reviews .content{
        font-size: 14px;
    }

    .reviews_slider .slick-arrow.slick-prev{
        right:100px;
        bottom: -48px;
    
    }
    
    
}  

@media screen and (max-width:1024px) {

    .reviews p{
        font-size: 13px;
    }

    .reviews .bg_grey{
        padding: 40px;
        
    }

    .reviews .imgContainer{
        width: 80px;
        height: 75px;
        
    }

    .reviews .minContainer p, .reviews .content{
        font-size: 13px;
    }
    .reviews_slider .slick-arrow{
        width: 0px;
    
    }

    .reviews_slider .slick-arrow.slick-prev{
        right:80px;
        bottom: -48px;
    
    }

    .reviews_slider .slick-arrow.slick-next{
        bottom: -48px;
    
    }
    
    
}  

@media screen and (max-width:992px) {

.reviews .minContainer{
    margin: 0 auto;
}

.reviews .text{
    text-align: center;
     width: 80%;
     margin: 40px auto;
}

.reviews_slider .slick-arrow.slick-prev{
    left:0px;
}

.reviews .btnContainer{
    width: max-content;
    margin: 40px auto;
}



}  


@media screen and (max-width:575px) {
    .reviews .bg_grey{
        padding: 10px;
        
    }

    .reviews .minContainer{
        margin: 0 auto;
    }
    
    .reviews .text{
        text-align: center;
        margin: 40px auto;
    }
    
    .reviews_slider .slick-arrow.slick-prev{
        left:0px;
    }
    
    .btnContainer .orange{
        margin:0 10px;
    }
    
    .reviews .minContainer p{
        width: 70%;
        border-bottom: 1px solid var(--color-orange);
        font-size: 15px;
        font-weight: 400;
        color:#7f7f7f;
        padding-bottom: 20px;
    }
    
    }  

    @media screen and (max-width:550px) {
        
        .reviews .minContainer p{
            width: 50%;
            font-size: 12px;
           
        }
        
        }  

        @media screen and (max-width:360px) {
            .reviews .minContainer p{
                margin-right: -100px;
               
            }
            
            } 
