.services{
    margin-top: 100px;
}

.services p{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-black);
    width:50%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.services .minBlog{
    width: 290px;
    height: 400px;
    background: url('../img/img1.png') no-repeat;
    border-radius: 10px;
}

.services .bg_container{
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 247, 0.7);
    position: relative;
    padding: 10px;
 
}

.services .bg_container .btnn{
    position: absolute;
    bottom: 0;
    right:15px
}

.bg_container .btnn a{
    color: var(--color-orange);
    font-size: 20px;
}

.minBlog1{
    width: 100%;
    height: 180px;
    background: url('../img/user1.png') no-repeat;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.minBlog2{
    width: 100%;
    height: 180px;
    background: url('../img/doctor.png') no-repeat;
    border-radius: 10px;
    margin-top: 40px;
}

.bg_container:hover{
    background: none;
    transition: .5s;
}

.bg_container:hover h5{
    color:var(--color-white)
}

.bg_container:hover a{
    color:var(--color-white)
}


@media screen and (max-width:1200px) {
    .services p{
        font-size: 14px;
    }

    .services .minBlog{
        width: 280px;
        height: 400px;
    }
    
   
}  

@media screen and (max-width:1024px) {
    .services p{
        font-size: 13px;
    }

    .services .minBlog{
        width: 250px;
        height: 350px;
    }

    .minBlog1{
        width: 100%;
        height: 155px;
       
    }
    
    .minBlog2{
        width: 100%;
        height: 155px;
       
    }
    
   
}  

@media screen and (max-width:992px) {
    .services p{
       margin: 40px auto;
       width: 80%;
       text-align: center;
    }

    .services .minBlog{
        width: 100%;
        height: 350px;
    }

   
}

@media screen and (max-width:768px) {
   

    .services .minBlog{
        height: 350px;
    }

   
}
